
<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather app</title>
  <link rel="stylesheet" href="main.css" />
</head> -->
<body>
  <div class="app-wrap">
    <header>
      <input type="text" autocomplete="off" class="search-box" placeholder="Search for a city..." />
    </header>
    <main>
      <section class="location">
        <div class="city">{{wheatherData.location.city}}, {{wheatherData.location.region}}, {{wheatherData.location.country}}</div>
        <div class="date">{{wheatherData.current_observation.pubDate}}</div>
      </section>
      <div class="current">
        <div class="temp">{{wheatherData.current_observation.condition.temperature}}<span>°c</span></div>
        <div class="weather">{{wheatherData.current_observation.condition.text}}</div>
        <div class="hi-low">13°c / 16°c</div>
      </div>
      <div class="forcast" id="forecast">
        <div class="card">
            <div *ngFor = "let item of forecast ; index as i" class="card-body" style = "width: 150px; float: left; margin-left: 6px;">
                <p class="title">{{item.day}}</p>
                <p class="wx">{{item.text}}</p>
                <p class="temps"><span>High:</span>{{item.high}}<span>Low:</span>{{item.low}}</p>
            </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>